.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 20px;
  background-image: linear-gradient(360deg, rgb(164, 243, 164), rgb(79, 197, 124));

}

.footer-header {
  display: flex;
  align-items: center;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  margin-right: 1rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  width: 100%;
}
