.posts-heading {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts a {
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 8px;

  transition: transform 0.2s;
}

.posts a:hover {
  transform: translateX(8px);
}

.posts a .upvotes-container {
  width: 40px;
  text-align: center;
  margin-right: 6px;
  color: darkgreen;
  font-weight: 700;
}

.posts a p {
  color: black;
}

.refresh-container {
  display: flex;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-right: 4px solid #3498db; /* Blue */
  border-radius: 100%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  margin-right: 6px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
